[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = "app/api/razorpay/order/route.js,app/api/booking/route.js,app/api/availability/route.js"
  SECRETS_SCAN_ENABLED = "false" # fully disable scanning if needed

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-nextjs"
